@use 'light' as light;
@use 'dark' as dark;

:root {
  @include light.theme-vars;
}

html[data-theme='dark'] {
  @include dark.theme-vars;
}

body {
  background-color: antiquewhite;
}

.btn {
  display: block;
  margin: 10px;
  padding: 10px;
  color: red;
  background-color: red;
  background-image: url('../../images/navbar-logo-light.png');
}
