[production]
ie 11
chrome 49
firefox 45
safari 9
ios_saf 9
android 4.4.3

# 兼容更低端的浏览器
# chrome >= 49
# edge >= 88
# firefox >= 45
# safari >= 10
# ie >= 10

[development]
last 2 chrome version
last 2 firefox version
last 2 safari version
# 不支持死掉的浏览器（市场份额极低）
not dead
# 不支持 IE 9 及以下版本
not ie <= 9
