<!doctype html>
<html data-helmet-html-attributes lang="zh-Hans">
  <head>
    <!--helmet.link-->
    <!--helmet.priority-->
    <!--helmet.meta-->
    <!--helmet.script-->
    <link rel="manifest" href="<%= CLIENT_ASSET_PREFIX %><%= MANIFEST_NAME %>" />
    <link rel="icon" href="<%= CLIENT_ASSET_PREFIX %>favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:type" content="website">
    <meta property="og:title" content="React Template">
    <meta property="og:site_name" content="React Template">
    <meta property="og:locale" content="zh-CN">
    <meta property="og:region" content="CN">
    <meta name="keywords" content="react, template, react-router, ssr, rsbuild">
    <link rel="dns-prefetch" href="//www.testcnd.com/">
    <!-- <meta name="theme-color" content="#fff"> -->
    <!-- <meta name="color-scheme" content="light"> -->
  </head>

  <body>
    <div id="<%= mountId %>"><!--app-content--></div>
  </body>
</html>
