@use '@/assets/styles/mixins' as *;

.error-boundary-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  color: var(--text-base);
  background-color: var(--bg-base);

  h1,
  h2,
  p {
    margin: 10px 0;
  }

  h1 {
    font-size: var(--text-h1);
  }

  h2.error-status {
    color: var(--text-accent);
    font-size: var(--text-h2);
  }

  p {
    font-size: var(--text-base);
  }

  pre {
    color: var(--text-secondary);
  }

  .error-description {
    color: var(--color-danger);
    font-size: var(--text-lg);
  }

  .error-boundary-details {
    max-height: min(400px, 50vh);
    margin: 20px 0;
    padding: 20px;
    overflow-y: auto;
    background-color: var(--bg-secondary);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 6px 12px rgb(0 0 0 / 15%);
    }

    @include hide-scrollbar;
  }

  .error-boundary-actions {
    margin-top: 20px;

    button {
      display: inline-flex;
      align-items: center;
      margin: 0 10px;
      padding: 10px 20px;
      color: var(--text-base);
      font-size: var(--text-base);
      background-color: var(--btn-primary);
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        transform 0.2s ease;

      &:hover {
        background-color: var(--btn-primary-hover);
        transform: scale(1.05);
      }

      &:focus {
        outline: 2px solid var(--focus-color);
        outline-offset: 2px;
      }
    }
  }
}

// 暗色主题样式
html[data-theme='dark'] {
  .error-boundary-content {
    color: var(--text-light);
    background-color: var(--bg-dark);

    .error-boundary-details {
      background-color: var(--bg-dark-secondary);

      button {
        color: var(--text-light);
        background-color: var(--btn-dark-primary);

        &:hover {
          background-color: var(--btn-dark-primary-hover);
        }
      }
    }
  }
}
