.spinner {
  display: inline-block;
  vertical-align: middle;

  .fa-spin {
    animation: spin 1s infinite linear; // 旋转动画
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
